#none of this works, really need to fix it at some point

sudo: required
language: node_js
node_js:
- '0.12'
before_install:
- curl https://install.meteor.com/ | sh
services: mongodb
script:
- meteor --test --release velocity:METEOR@1.3
